.app-container section.ant-layout.site-layout {
  background-color: #f0f0f0;
}

main.ant-layout-content.site-layout-background {
  background-color: #303030;
  color: white;
  overflow: auto;
  max-height: calc(100vh - 94px);
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #ffffffd9;
}
